# ================= Python =================
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# ================= Editor / IDE / OS =================
.idea/
.vscode/
.cursor
*.swp
.workbuddy
.codebuddy
*~
.DS_Store
Thumbs.db
desktop.ini

# ================= Temporary Files =================
~$*.docx
~$*.doc
~$*.ppt*